aside {
  /*border: 1px solid red;*/
  box-sizing: border-box; 
  float: left;
  width: 260px;
}

article {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin-left: 270px;
  margin-top: 50px;  
}

#student-table > tbody > tr:hover { 
  background-color: navy;
  color: white;
}

.invisible { 
  display: none;
}

.photo20x20 { 
  width: 20px;
  height: 20px;
}

#f-photo {
  width: 80px;
  height: 80px;
}
