<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="bitcamp/myapp/config/jdbc.properties"></properties>

  <typeAliases>
    <!-- 지정된 패키지의 모든 클래스에 대해 클래스 이름과 같은 이름으로 별명을 부여한다. -->
    <package name="bitcamp.myapp.vo"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="bitcamp/myapp/mapper/BoardMapper.xml"/>
    <mapper resource="bitcamp/myapp/mapper/MemberMapper.xml"/>
    <mapper resource="bitcamp/myapp/mapper/StudentMapper.xml"/>
    <mapper resource="bitcamp/myapp/mapper/TeacherMapper.xml"/>
    <mapper resource="bitcamp/myapp/mapper/BoardFileMapper.xml"/>
  </mappers>
  
</configuration>