<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardFileDao">

  <resultMap type="boardfile" id="boardfileMap">
    <id column="boardfile_id" property="no"/>
    <result column="filepath" property="filepath"/>
    <result column="origin_filename" property="originalFilename"/>
    <result column="board_id" property="boardNo"/>
  </resultMap>

  <insert id="insert" parameterType="boardfile">
    insert into app_board_file(filepath, origin_filename, board_id) 
    values(#{filepath}, #{originalFilename}, #{boardNo})
  </insert>

  <select id="findAllOfBoard" resultMap="boardfileMap" parameterType="int">
    select 
      boardfile_id, 
      filepath, 
      origin_filename,
      board_id
    from 
      app_board_file
    where 
      board_id = ${no}
    order by 
      origin_filename asc
  </select>

  <select id="findByNo" parameterType="int" resultMap="boardfileMap">
    select 
      b.board_id, 
      b.title, 
      b.content,
      b.writer, 
      (select name from app_member where member_id = b.writer) name, 
      b.created_date, 
      b.view_cnt
    from 
      app_board b
    where 
      b.board_id=#{no}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from app_board 
    where board_id=#{no}
  </delete>
</mapper>





